.img-rescale {
  width: 200px;
  height: auto;
}

.name {
  font-style:  italic;
  color: pink;
}

.mt15 {
  margin-top: 15px;
}

.margin-none {
  margin: 0;
}
body {
  background: ivory;

}

.container {
  border-left: 3px solid purple;
  border-right: 5px solid yellow;
  border-top: 7px solid green;
  border-bottom: 9px solid black;

}
